<div class="row justify-content-center title-container mx-5">
    <h1>My hood</h1>
    <% if user_signed_in? %>
        <%= link_to 'Create listing', new_listing_path, class: "btn btn-primary mx-2" %>
    <% end %>
</div>

<div class="col">
<div class="container-fluid listing-grid">
    <% @listings.each do |listing| %>
        <% if listing.images.attached? %>
            <%= link_to (image_tag set_image(listing.images.first, 400), class: class_value(listing)), listing_path(listing) %>
        <% else %>
            <%= link_to (image_tag user_avatar(User.find(listing.user_id), 400), class: class_value(listing)), listing_path(listing)  %>
        <% end %>
    <% end %>
</div>
</div>