<div class="row justify-content-center">
  <h1 class='text-center'>Welcome to Spotswood
<% if current_user %>
  <span class='color-secondary'><%= current_user.name %></span></h1>
</div>
<% else %>
</h1></div>
<div class="row justify-content-center">
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary' %>
</div>
<% end %>
