<h1 class="mx-auto">Welcome to Spotswood
  <% if current_user %>
    <%= current_user.name %>
  <% end %>
</h1>

<% if !current_user %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn' %>
<% end %>
