<div class='container'>
  <h1 class='font'>Welcome to Spotswood</h1>
  <% if current_user %>
    <h1 class='font color-secondary'><%= current_user.name %></h1>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary' %>
  <% end %>
</div>
