@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans&display=swap');
$font-family-base: 'Nunito', sans-serif;

@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

main {
    height: 80%;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
}
